{% extends 'flatpages/default.html' %}
 
{% block title %} Newslist {% endblock title %}
 
{% block content %}
<table>
    <thead>
        <th>
            Заголовок
        </th>
        <th>
            Текст
        </th>
        <th>
            Автор
        </th>
    </thead>
    <tr>
        <td>
            {{ post.title|title }}
        </td>
        <td>
            {{ post.categoryType.name|title }}
        </td>
        <td>
            {{ post.text }}
        </td>
        <td>
            {{ post.author }}
        </td>
    </tr>
</table>
{% endblock content %}